body.rtl {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
  .text-left, .align-left {
    text-align: right;
  }
  .slick-slide {
    float: right;
  }
  .ct-demo-bar {
    left: 0;
    right: auto;
    @include transform(translate(100%, 0px));
    &.active {
      @include transform(translate(0px, 0px));
    }
    .ct-demo-option {
      left: auto;
      right: -40px;
      @include border-radius(0 5px 5px 0);
      span {
        right: auto;
        left: 100%;
        margin-right: 0;
        margin-left: 12px;
        &:before {
          right: auto;
          left: -12px;
          border-color: transparent #222 transparent transparent;
        }
      }
    }
  }
  .btn .ct-align-icon-left i {
    margin-right: 0;
    margin-left: 8px;
  }
  .ct-grid .ct-load-more i {
    margin-right: 0;
    margin-left: 8px;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea, select, .nice-select {
    text-align: right;
  }
  .nice-select {
    padding-left: 40px;
    padding-right: 22px;
    &:after {
      left: 18px;
      right: auto;
    }
  }
  .ct-nav-carousel {
    .nav-prev {
      .fac-angle-left::before {
        content: "\f105";
      }
    }
    .nav-next {
      margin-left: 0;
      margin-right: 10px;
      .fac-angle-right::before {
        content: "\f104";
      }
    }
  }

  /* Slider */
  .revslider-initialised .icon-space-right {
    margin-right: 0px;
    margin-left: 12px;
  }

  /* Header */
  #ct-header-wrap .ct-header-branding .logo-light, #ct-header-wrap .ct-header-branding .logo-mobile {
    left: auto;
    right: 0%;
  }
  .header-mobile-search .search-submit {
    right: auto;
    left: 0;
  }
  .ct-menu-toggle {
    right: auto;
    left: 0;
  }
  .ct-header-arrow {
    &:before {
      left: auto;
      right: 0;
      @include transform(skew(30deg));
    }
  }
  #ct-header-wrap .ct-header-holder.style-two {
    .h-item-icon {
      margin-right: 0;
      margin-left: 10px;
    }
    .ct-header-info-item {
      &:before {
        left: auto;
        right: 0;
      }
      + .ct-header-info-item {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 34px;
        padding-right: 34px;
      }
      &.ct-header-call svg {
        @include transform(scaleX(-1));
      }
    }
  }
  #ct-header-wrap {
    #ct-header-top.ct-header-top2 .ct-header-holder li i {
      margin-right: 0;
      margin-left: 8px;
    }
    .ct-header-meta .header-right-item.h-btn-cart .widget_cart_counter_header {
      right: auto;
      left: -11px;
    }
    #ct-header-top .ct-header-social a + a {
      margin-left: 0;
      margin-right: 10px;
    }
    .ct-header-holder .ct-header-info-item i {
      margin-right: 0;
      margin-left: 12px;
    }
    .ct-header-button {
      margin-right: 0;
      margin-left: 15px;
      .ct-arrow-right {
        margin-left: 14px;
        margin-right: 14px;
        @include transform(scaleX(-1));
      }
    }
    .ct-header-meta {
      margin-left: 0;
      margin-right: 18px;
    }
    .ct-header-meta .header-right-item + .header-right-item {
      margin-left: 0;
      margin-right: 36px;
    }
    &.ct-header-layout1 {
      .ct-header-main:not(.h-fixed) .ct-header-navigation-bg {
        padding: 0 80px 0 30px;
      }
      .ct-header-main:not(.h-fixed) .ct-header-navigation {
        margin-right: 15px;
        margin-left: 10px;
      }
      .ct-header-button .btn i {
        margin-left: 0;
        margin-right: 14px;
      }
      .ct-arrow-right::before {
        right: auto;
        left: 0;
        @include transform(scaleX(-1) translate(0, -50%));
      }
    }
    .site-header-lang.custom {
      padding-left: 0px !important;
      margin-left: 0px;
      margin-right: 12px;
      padding-right: 27px !important;
      &:before {
        left: auto;
        right: 0;
      }
    }
  }

  @media #{$min-xl} {
    .ct-main-menu > li {
      float: right;
    }
    .ct-main-menu > li.menu-item-has-children > a::after {
      margin-left: 0;
      margin-right: 4px;
    }
    .ct-main-menu .sub-menu {
      left: auto;
      right: 0;
      a {
        padding-left: 10px;
        padding-right: 0;
      }
      li {
        &.menu-item-has-children > a::after {
          right: auto;
          left: 0;
          content: "\f104";
        }
        > a:hover,
        &.current_page_item > a,
        &.current-menu-item > a,
        &.current_page_ancestor > a,
        &.current-menu-ancestor > a {
            &:before {
              left: auto;
              right: -23px;
            }
        }
      }
      .sub-menu {
        right: 100%;
        @include border-radius(7px 0 7px 7px);
      }
    }
    #ct-header-wrap {
      &.ct-header-layout1 {
        .ct-main-menu > li:first-child {
          margin-left: 18px;
          margin-right: 0;
        }
      }
      &.ct-header-layout2 #ct-header:not(.h-fixed) .ct-header-branding {
        padding-right: 0;
        padding-left: 20px;
        &:before {
          left: -26px;
          right: auto;
          @include transform(skew(26deg));
        }
      }
      &.ct-header-layout8 {
        .ct-header-holder {
          .ct-header-social a i {
            margin: 0;
          }
          .ct-header-info-item {
            margin-left: 40px;
            &:last-child {
              margin-left: 0;
            }
          }
        }
        .ct-header-branding a {
          left: 50%;
          right: auto;
        }
        .ct-header-main:not(.h-fixed) {
          .ct-header-branding {
            margin-right: 15px;
            margin-left: 28px;
          }
          .ct-header-navigation {
            margin-right: 0;
          }
        }
      }
      &.ct-header-layout15 {
        .ct-header-holder .ct-header-info-item + .ct-header-info-item {
          margin-left: 0;
          padding-left: 0;
          margin-right: 28px;
          padding-right: 28px;
        }
        .ct-header-main .ct-header-meta {
          .header-right-item {
            margin-left: 0px;
            padding-left: 0px;
            margin-right: 25px;
            padding-right: 25px;
            &:before {
              left: auto;
              right: 0;
            }
            &:nth-child(1) {
              margin-right: 0;
              padding-right: 0;
            }
          }
        }
        .ct-header-main .ct-secondary-menu .sub-menu {
          left: 0;
          right: auto;
        }
      }
      &.ct-header-layout18 .ct-header-main:not(.h-fixed) .ct-header-navigation-bg {
        margin-right: 5px;
      }
      &.ct-header-layout18 .ct-main-menu > li:first-child {
        margin-left: 17px;
        margin-right: 0;
      }
    }
  }

  @media #{$max-lg} {
    #ct-header-wrap .ct-header-holder-mobile .ct-header-info-item {
      margin-right: 0 !important;
      padding-right: 0 !important;
    }
    .ct-main-menu .sub-menu li a {
      padding-left: 0;
      padding-right: 15px;
    }
    #ct-menu-mobile .btn-nav-cart {
      margin-right: 0;
      margin-left: 6px;
    }
    #ct-header-wrap #ct-menu-mobile {
      right: auto;
      left: 15px;
    }
    .ct-header-navigation {
      left: auto;
      right: 0;
      .ct-main-navigation {
        @include transform(translateX(100%));
      }
      &.navigation-open .ct-main-navigation {
        @include transform(translateX(0%));
      }
    }
  }
  .ct-modal-search {
    .search-field {
      margin-right: 0;
      margin-left: 60px;
    }
    .search-submit {
      left: 0;
      right: auto;
      text-align: left;
    }
  }
  /* End Header */

  /* Blog */
  .entry-meta li, .item--meta-default li {
    margin-right: 0;
    margin-left: 20px;
    i {
      margin-right: 0;
      margin-left: 4px;
    }
  }
  .entry-readmore .fac-angle-right:before {
    content: "\f104";
  }
  .posts-pagination {
    .fac-angle-right:before {
      content: "\f104";
    }
    .fac-angle-left:before {
      content: "\f105";
    }
  }
  /* End Blog */

  /* Widget */
  #content .widget_product_categories ul li a::before, #content .widget_categories ul li a::before, #content .widget_nav_menu ul li a::before, #content .widget_pages ul li a::before, #content .widget_archive ul li a::before, #content .widget_meta ul li a::before, #content .widget_recent_entries ul li a::before {
    content: "\f104";
    margin-left: 8px;
    margin-right: 0;
    float: right;
  }
  span.count.left {
    float: left;
  }
  .widget-title::before, .comments-title::before, .comment-reply-title::before {
    left: auto;
    right: 0;
  }
  .widget_search .search-form .search-submit {
    right: auto;
    left: 0;
  }
  .widget_ct_recent_posts .entry-media {
    margin-right: 0;
    margin-left: 25px;
  }
  .ct-getintouch .ct-getintouch-item i {
    margin-right: 0;
    margin-left: 12px;
  }
  .ct-getintouch .ct-getintouch-item a.btn i {
    margin-left: 12px;
    margin-right: 0;
  }
  /* End Widget */
  
  /* Shortcode */
  #ct-newsletter-popup .ct-newsletter-meta {
    margin-right: 0;
    margin-left: 30px;
  }
  #ct-newsletter-popup form.newsletter .tnp-field-email {
    margin-right: 0;
    margin-left: 14px;
  }
  #ct-newsletter-popup .ct-newsletter-close {
    right: auto;
    left: 15px;
  }
  .ct-accordion.layout1 .ct-ac-title a {
    padding-right: 25px;
    padding-left: 65px;
  }
  .ct-accordion.layout1 .ct-ac-content {
    padding-right: 25px;
    padding-left: 65px;
  }
  .ct-accordion.layout1 .ct-ac-title a::before {
    right: auto;
    left: 35px;
  }
  .ct-accordion.layout1 .ct-ac-title a::after {
    left: 30px;
    right: auto;
  }
  .ct-testimonial-grid3 .item-icon {
    right: auto;
    left: 45px;
  }
  .ct-testimonial-grid3 .item--image, .ct-testimonial-grid4 .item--image {
    margin-right: 0;
    margin-left: 40px;
  }
  .ct-testimonial-grid3 .item--social a, .ct-testimonial-grid4 .item--image .item--social a {
    right: auto;
    left: -18px;
  }
  .ct-testimonial-carousel3 .item--image, .ct-testimonial-grid2 .item--image {
    margin-right: 0;
    margin-left: 21px;
  }
  .ct-testimonial-carousel3 .item--description::before, .ct-testimonial-grid2 .item--description::before {
    left: auto;
    right: 0;
  }
  .ct-testimonial-carousel3 .item--inner:hover .item--image, .ct-testimonial-grid2 .item--inner:hover .item--image {
    margin-right: 17px;
    margin-left: 41px;
  }
  .ct-career-grid1 .item--image {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-career-grid1 .item--feature i {
    margin-right: 0;
    margin-left: 4px;
  }
  .ct-career-grid1 .item--button .btn {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    i:before {
      content: "\f0a8";
    }
  }
  .ct-team-details .ct-team-icon {
    @include border-radius(0 7px 7px 0);
  }
  .ct-team-details .ct-team-meta {
    @include border-radius(7px 0 0 7px);
  }
  .ct-fancy-box-layout2 .item--icon {
    margin-right: 0;
    margin-left: 22px;
  }
  .ct-team-progressbar .ct-progress-percentage {
    right: auto;
    left: -14px;
  }
  .ct-team-grid2 .item--social {
    right: auto;
    left: 0;
  }
  .ct-progressbar2 .ct-progress-percentage {
    right: auto;
    left: 0;
  }
  .ct-tab-banner1 .ct-tabs-title .ct-tab-title .tab-arrow {
    right: auto;
    left: -24px;
    border-color: transparent $primary_color transparent transparent;
  }
  .ct-tabs--layout2 .ct-tabs-title {
    border-left: 5px solid #000;
    border-right: none;
    .ct-tab-title {
      padding-right: 0;
      padding-left: 30px;
      &:before {
        right: auto;
        left: -7px;
      }
    }
  }
  .ct-tabs--layout2 .ct-tab-content {
    padding-left: 0;
    padding-right: 35px;
  }
  .ct-team-grid3 .item--image .item--desc {
    text-align: right;
  }
  .ct-heading .item--sub-title.style2 + .item--title {
    padding-left: 0;
    padding-right: 52px;
  }
  .ct-heading .item--sub-title.style2 {
    left: auto;
    right: -98px;
  }
  .ct-list.style2 .ct-list-icon {
    margin-right: 0;
    margin-left: 10px;
    i:before {
      content: '\f100';
    }
  }
  .ct-feature-layout1 .item--title i {
    margin-right: 0;
    margin-left: 6px;
    &:before {
      content: "\f100";
    }
  }
  .ct-heading .item--title.st-line-left1 {
    padding-left: 0px;
    span {
      padding-right: 82px;
      padding-left: 0;
      i {
        left: auto;
        right: 0;
      }
    }
    &:before {
      left: auto;
      right: 0;
    }
    @media #{$max-md2} {
      padding-left: 0px;
      padding-right: 68px;
    }
    @media #{$max-xs} {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .ct-service-carousel2 .grid-item-inner .grid-item-holder .item--overlay::before, .ct-service-grid3 .grid-item-inner .grid-item-holder .item--overlay::before {
    right: auto;
    left: -11px;
  }
  .ct-service-carousel2 .item--icon-abs, .ct-service-grid3 .item--icon-abs {
    right: auto;
    left: 0;
  }
  .ct-portfolio-grid1 .item--holder .item--meta, .ct-portfolio-carousel1 .item--holder .item--meta {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-fancy-box-layout3 .item--icon {
    margin-right: 0;
    margin-left: 38px;
  }
  .ct-contact-info1 .ct-contact-icon {
    margin-right: 0;
    margin-left: 10px;
  }
  .ct-title1.style1 h3 span {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-newsletter1 .tnp-field-button, .ct-newsletter1 .tnp-field-button .tnp-button {
    right: auto;
    left: 0;
  }
  .ct-navigation-menu1.tow-col-light ul.menu li a {
    padding-left: 0;
    padding-right: 16px;
    &:before {
      content: "\f104";
      left: auto;
      right: 0;
      margin-left: 8px;
      margin-right: 0;
    }
    &:after {
      display: none;
    }
  }
  .ct-signature1 .signature-image {
    margin-right: 0;
    margin-left: 48px;
    @media #{$max-sm} {
        margin-right: 0px;
        margin-left: 20px;
    }
  }
  .ct-heading .item--sub-title.style1 {
    padding-left: 0;
    padding-right: 75px;
    &:before {
      left: auto;
      right: 0;
    }
  }
  .ct-progressbar1 .ct-progress-meta {
    margin-right: 0;
    margin-left: 15px;
  }
  .ct-progressbar1 .ct-progress-percentage {
    text-align: left;
  }
  .ct-counter-layout2 .ct-counter-icon {
    margin-right: 0;
    margin-left: 25px;
  }
  .ct-fancy-box-layout1.style1 .item--icon {
    margin-right: 0;
    margin-left: 30px;
  }
  .ct-pricing-layout1 .pricing-meta .pricing-description {
    padding-right: 0;
    padding-left: 16%;
    @media #{$max-lg} {
      padding-left: 0;
    }
  }
  .ct-pricing-layout1 .pricing-feature li i {
    margin-right: 0;
    margin-left: 8px;
  }
  .ct-pricing-layout1 .pricing-price span {
    margin-left: 0;
    margin-right: 4px;
  }
  .ct-team-grid1 .item--image .item--social {
    right: auto;
    left: -18px;
  }
  .about-call2 i {
    margin-right: 0;
    margin-left: 10px;
  }
  .ct-case-study-grid1 .item--readmore a {
    right: auto;
    left: 0;
    &:before {
      @include border-radius(5px 0 5px 0px);
    }
  }
  .ct-blog-grid-layout2 .entry-meta li {
    margin-right: 0;
    margin-left: 8px;
    padding-right: 0;
    padding-left: 8px;
    &:before {
      right: auto;
      left: 0;
    }
  }
  .cta-custom-bg > .elementor-column-wrap::before {
    left: auto;
    right: 0;
    @include border-radius(0 5px 5px 0px);
  }
  .ct-fancy-box-layout1.style2 .item--icon {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-fancy-box-layout1.style3 .item--icon {
    margin-right: 0;
    margin-left: 35px;
  }
  .ct-fancy-box-layout1.style4 .item--icon {
    margin-right: 0;
    margin-left: 17px;
  }
  .ct-fancy-box-layout1.style4::after {
    right: auto;
    left: 0;
  }
  .ct-testimonial-carousel3 .item--description::before {
    left: auto;
    right: 0;
  }
  .ct-testimonial-carousel3 .item--inner:hover .item--description {
    @include border-radius(9px 9px 0px 9px);
  }
  .ct-testimonial-carousel3 .item--holder {
    padding-left: 0;
    padding-right: 17px;
  }
  .ct-testimonial-carousel3 .item--image {
    margin-right: 0;
    margin-left: 21px;
  }
  .ct-testimonial-carousel3 .item--inner:hover .item--image {
    margin-right: 0;
    margin-left: 41px;
  }
  &.site-h4:not(.elementor-editor-active) .elementor-section-wrap > .elementor-element {
    right: 0 !important;
    left: auto !important;
  }
  &.site-h4:not(.elementor-editor-active) .site-content .elementor-section.elementor-section-boxed:not(.elementor-section-stretched) > .elementor-container {
    left: auto;
    right: 50%;
    @include transform(translate(50%, 0));
  }
  .ct-service-carousel7 .item--meta .item--icon {
    margin-right: 0;
    margin-left: 18px;
  }
  .ct-service-carousel7 .item--holder .item--icon {
    margin-right: 0;
    margin-left: 17px;
  }
  .ct-accordion.layout2 .ct-ac-title-text i, .ct-accordion.layout2 .ct-ac-title-text svg {
    margin-right: 0;
    margin-left: 15px;
  }
  .ct-accordion.layout1.style2 .ct-accordion-item .ct-ac-title .ct-ac-title-text::before {
    right: auto;
    left: 28px;
  }
  .ct-portfolio-grid4 .ct-load-more .btn .fac-redo {
    margin-left: 0;
    margin-right: 8px;
    &:before {
      content: "\f060";
    }
  }
  .ct-blog-carousel-layout6 .item--title {
    padding: 15px 26px 15px 40px;
    &:before {
      @include background-horizontal($gradient_color_to,$gradient_color_from);
    }
  }
  .ct-blog-carousel-layout6 .item-date i {
    margin-right: 0;
    margin-left: 7px;
  }
  .ct-blog-carousel-layout6 .item--readmore a i {
    margin-left: 0;
    margin-right: 4px;
    &:before {
      content: '\f0d9';
    }
  }
  .ct-blog-carousel-layout6 .item--holder::before {
    left: auto;
    right: 26px;
  }
  .ct-blog-carousel-layout5 .entry-featured {
    margin-right: 0;
    margin-left: 15px;
  }
  .ct-mailchimp1.style3 .mc4wp-form .mc4wp-form-fields input[type="email"], .ct-mailchimp1.style4 .mc4wp-form .mc4wp-form-fields input[type="email"], .ct-mailchimp1.style3 .mc4wp-form .mc4wp-form-fields input[type="text"], .ct-mailchimp1.style4 .mc4wp-form .mc4wp-form-fields input[type="text"] {
    padding-left: 70px;
    padding-right: 20px;
  }
  .ct-mailchimp1.style3 .mc4wp-form .mc4wp-form-fields input[type="submit"], .ct-mailchimp1.style4 .mc4wp-form .mc4wp-form-fields input[type="submit"] {
    right: auto;
    left: 0;
  }
  .ct-mailchimp1.style3 .mc4wp-form .mc4wp-form-fields::before, .ct-mailchimp1.style4 .mc4wp-form .mc4wp-form-fields::before, .ct-mailchimp1.style3 .mc4wp-form .mc4wp-form-fields::after, .ct-mailchimp1.style4 .mc4wp-form .mc4wp-form-fields::after {
    right: auto;
    left: 0;
  }
  .ct-fancy-box-layout14 .item--icon {
    margin-right: 0;
    margin-left: 17px;
  }
  .ct-blog-carousel-layout7 .item--date {
    left: auto;
    right: 16px;
  }
  .ct-blog-carousel-layout7.style2 .item--readmore a {
    padding-left: 58px;
    padding-right: 18px;
    i {
      right: auto;
      left: 8px;
    }
  }
  .ct-service-carousel8 .item--holder .item--icon {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-about-us {
    .ct-about-holder {
      padding-right: 160px;
      padding-left: 70px;
      @media #{$max-lg} {
        padding-right: 120px;
        padding-left: 50px;
      }
      @media #{$max-md} {
        padding-right: 120px;
        padding-left: 30px;
      }
      @media #{$max-sm} {
        padding-right: 100px;
        padding-left: 20px;
      }
    }
    .ct-about-imge {
      right: 75px;
      left: -110px;
      @media #{$max-md} {
          left: -90px;
          right: 15px;
      }
    }
    .ct-box-item .ct-box-icon {
      margin-right: 0;
      margin-left: 15px;
    }
  }
  .ct-testimonial-carousel13 .item--image {
    left: 27px;
    right: auto;
  }
  .ct-testimonial-carousel13 .item--image .item--icon {
    right: auto;
    left: -10px;
  }
  .ct-service-carousel8 .item-readmore a {
    svg {
      margin-left: 0;
      margin-right: 14px;
      @include transform(scaleX(-1));
    }
    &:hover svg {
      -o-animation: toLeftFromRight 0.3s forwards;
      -ms-animation: toLeftFromRight 0.3s forwards;
      -webkit-animation: toLeftFromRight 0.3s forwards;
      animation: toLeftFromRight 0.3s forwards;
    }
  }
  .ct-list.style1 .ct-list-icon {
    margin-right: 0;
    margin-left: 18px;
  }
  .ct-progressbar3 .ct-progress-percentage {
    right: auto;
    left: -17px;
  }
  .ct-heading .item--title.st-line-left3 span {
    padding-left: 0;
    padding-right: 58px;
  }
  .ct-heading .item--title.st-line-left3 span .dot-shape {
    left: auto;
    right: 0;
    @include transform(scaleX(-1));
  }
  .ct-fancy-box-layout1.style6 .item--icon {
    margin-right: 0;
    margin-left: 20px;
  }
  .ct-menu-item i {
    margin-right: 0;
    margin-left: 4px;
  }
  /* End Shortcode */

  /* Single Post & Comment & Form */
  blockquote {
    &:before {
      left: auto;
      right: 0;
    }
  }
  &.single-post {
    .entry-category {
      right: auto;
      left: 35px;
    }
    .entry-meta::before { 
      left: auto;
      right: 0;
    }
    .entry-footer label {
      margin-right: 0;
      margin-left: 17px;
    }
    .post-previous-next {
      .fac-angle-double-left::before {
          content: "\f101";
      }
      .fac-angle-double-right::before {
          content: "\f100";
      }
      .post-previous {
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
  .comment-inner img.avatar {
    margin-right: 0;
    margin-left: 30px;
    @media #{$max-sm} {
      margin-left: 18px;
      margin-right: 0px;
    }
    @media #{$max-xs} {
      margin: 0 auto 22px auto;
    }
  }
  .comment-reply {
    right: auto;
    left: 22px;
    a {
      i {
        margin-left: 0;
        margin-right: 4px;
        &:before {
          content: "\f104";
        }
      }
    }
  }
  .comment-form-cookies-consent {
    padding-left: 0;
    padding-right: 20px;
    input {
      left: auto;
      right: 0;
    }
    label {
      &:before, &:after {
        left: auto;
        right: 0;
      }
    }
  }

  .ct-portfolio-detail li i {
    margin-right: 0;
    margin-left: 4px;
  }

  /* End Single Post */
  
  /* Woocommerce */
  .ct-widget-cart-sidebar .widget_shopping_cart {
    width: auto;
    .widget_shopping_cart_content {
      ul.cart_list li {
        padding-right: 0;
        padding-left: 15px;
      }
      .cart-product-image {
        margin-right: 0;
        margin-left: 15px;
      }
      a.remove_from_cart_button {
        right: auto;
        left: 0;
      }
    }
    .widget_shopping_cart_footer {
      p.buttons .btn:not(.checkout) {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  } 
  &.woocommerce #secondary .widget_product_search button {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 1px solid #ececf0;
  }
  &.woocommerce #secondary .widget_product_search .woocommerce-product-search::before {
    display: none;
  }
  &.woocommerce #secondary .widget_price_filter .price_slider_amount .button {
    margin-left: 20px;
    margin-right: 0;
  }
  &.woocommerce #secondary .widget_products ul li {
    padding-left: 0;
    padding-right: 95px;
  }
  &.woocommerce #secondary .widget_products ul li img {
    left: auto;
    right: 0;
  }
  &.single-product #primary div.product .woocommerce-sg-product-feature li i {
    margin-right: 0;
    margin-left: 8px;
  }
  &.single-product #primary div.product .quantity {
    margin-right: 0;
    margin-left: 30px;
  }
  #yith-wcwl-form .product-add-to-cart {
    text-align: left !important;
  }
  /* End Woocommerce */

  /* Footer */
  .scroll-top {
    right: auto;
    left: 30px;
  }
  @media #{$max-sm} {
    .scroll-top {
      @include border-radius(0 2px 0 0);
      left: 0;
    }
  }
  /* End Footer */
  .ct-header-popup-wrap .ct-header-meta .h-item-icon {
    margin-right: 0;
    margin-left: 10px;
  }
  .ct-header-popup-wrap .ct-header-meta > div {
    margin-right: 0;
  }
  .ct-feature-list .ct-item-right .ct-feature-item:before {
    right: -88px;
    left: auto;
    transform: scaleX(1);
  }
  .ct-feature-list .ct-item-left .ct-feature-item:before {
    left: -88px;
    right: auto;
    transform: scaleX(-1);
  }
}