$primary_color: #c1282a;$secondary_color: #0e0e0e;$third_color: #c1282a;$four_color: #ffd200;$link_color: #c1282a;$link_color_hover: #d1651a;$link_color_active: #d1651a;$gradient_color_from: #d1651a;$gradient_color_to: #c1282a;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            