.ct-title1 cite {
  font-style: normal;
  color: #c1282a;
}
.ct-title1.style1 h3 {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 29px;
}
.ct-title1.style1 h3 span {
  display: inline-block;
  margin-right: 20px;
}
.ct-title1.style1 h3 i {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(233, 234, 238, 0.15);
  display: inline-block;
}
.ct-title1.style2 h3 {
  font-size: 36px;
  padding-left: 76px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .ct-title1.style2 h3 {
    font-size: 30px;
  }
}
.ct-title1.style2 h3 i {
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -khtml-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -moz-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -ms-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -o-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
}
.ct-title1.style3 {
  margin-bottom: 30px;
}
.ct-title1.style3 h3 {
  font-size: 24px;
  padding-right: 54px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.ct-title1.style3 h3 i {
  width: 45px;
  height: 2px;
  background-color: #c1282a;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.ct-title1.style4 h3 a {
  color: inherit;
  display: block;
  padding-right: 18px;
  position: relative;
}
.ct-title1.style4 h3 a:after {
  content: '\f04b';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 12px;
}
.ct-title1.style4 h3 a span {
  position: relative;
}
.ct-title1.style4 h3 a span:before {
  content: '';
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #c1282a;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-title1.style4 h3 a:hover span:before {
  width: 100%;
}
.ct-list-one {
  list-style: none;
  margin-bottom: 0;
  margin-left: 12px;
  font-weight: 700;
  color: #000;
}
.ct-list {
  margin-left: 15px;
  margin-bottom: 0;
  list-style: none;
}
.ct-list-one li {
  padding-left: 26px;
  position: relative;
}
.ct-list-one li:before {
  content: '\f061';
  font-weight: 400;
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 0;
  left: 0;
}
.ct-list-one li + li {
  margin-top: 18px;
}
.ct-list {
  margin-left: 15px;
  margin-bottom: 0;
  list-style: none;
}
@media screen and (max-width: 1199px) {
  .ct-list {
    margin-left: 0;
  }
}
.ct-list .ct-list-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.ct-list .ct-list-item h3 {
  display: block;
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 18px;
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .ct-list .ct-list-item h3 {
    font-size: 20px;
  }
}
.ct-list .ct-list-item + .ct-list-item {
  margin-top: 12px;
}
.ct-list .ct-list-meta {
  position: relative;
}
.ct-list .item--link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.ct-list cite {
  font-style: normal;
  color: #c1282a;
}
.ct-list.style1 .ct-list-icon {
  line-height: 1;
  padding-bottom: 2px;
  margin-right: 18px;
}
.ct-list.style1 .ct-list-icon i {
  font-size: 22px;
}
.ct-list.style1 .ct-list-desc {
  font-size: 15px;
  color: #636363;
}
.ct-list.style2 {
  margin: -10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #0e0e0e;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ct-list.style2 .ct-list-icon {
  margin-right: 10px;
}
.ct-list.style2 .ct-list-icon i:before {
  content: '\f101';
}
.ct-list.style2 .ct-list-item {
  padding: 0 10px;
  width: 50%;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .ct-list.style2 .ct-list-item {
    width: 100%;
  }
}
.ct-list.style2.one-column .ct-list-item {
  width: 100%;
}
.ct-list.style3 {
  margin: 0;
}
.ct-list.style3 .ct-list-icon {
  width: 9px;
  height: 9px;
  background-color: #000;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  margin-right: 16px;
  margin-top: 10px;
}
.ct-list.style3 .ct-list-icon i {
  display: none;
}
.ct-list.style3 .ct-list-desc {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
.ct-list.style4 {
  margin: 0;
  font-size: 18px;
  color: #283a57;
  font-weight: 500;
}
.ct-list.style4 .ct-list-icon {
  margin-right: 12px;
}
.ct-list.style4 .ct-list-icon i:before {
  content: "\f134";
  font-family: Flaticon-v5;
  font-weight: 400;
  color: #c1282a;
}
.ct-list.style4 .ct-list-item + .ct-list-item {
  margin-top: 3px;
}
.ct-list.style5 {
  margin: 0;
}
.ct-list.style5 .ct-list-icon {
  display: none;
}
.ct-list.style5 .ct-list-item {
  padding-left: 26px;
  position: relative;
}
.ct-list.style5 .ct-list-item:before {
  content: '';
  width: 9px;
  height: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background-color: #c1282a;
  position: absolute;
  top: 12px;
  left: 0;
}
.ct-list.style5 .ct-list-item + .ct-list-item {
  margin-top: 6px;
}
.ct-list.style7 {
  margin: 0;
}
.ct-list.style7 .ct-list-icon {
  display: none;
}
.ct-list.style7 .ct-list-meta {
  padding-left: 46px;
  position: relative;
}
.ct-list.style7 .ct-list-meta:before {
  content: "\f105";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 29px;
  height: 29px;
  color: #c1282a;
  border: 2px solid #c1282a;
  border-radius: 29px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.ct-list.style7 .ct-list-item + .ct-list-item {
  margin-top: 29px;
}
.ct-newsletter1.style1 form.newsletter, .ct-newsletter1.style3 form.newsletter {
  position: relative;
}
.ct-newsletter1.style1 .tnp-field-email .tnp-email, .ct-newsletter1.style3 .tnp-field-email .tnp-email {
  border: none;
  background-color: #464646;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

body.rtl .ct-title1.style1 h3 span {
  margin-right: 0;
  margin-left: 20px;
}






.ct-title1 cite {
  font-style: normal;
  color: #c1282a;
}
.ct-title1.style1 h3 {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 29px;
}
.ct-title1.style1 h3 span {
  display: inline-block;
  margin-right: 20px;
}
.ct-title1.style1 h3 i {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(233, 234, 238, 0.15);
  display: inline-block;
}
.ct-title1.style2 h3 {
  font-size: 36px;
  padding-left: 76px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .ct-title1.style2 h3 {
    font-size: 30px;
  }
}
.ct-title1.style2 h3 i {
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -khtml-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -moz-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -ms-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  -o-box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
  box-shadow: 0 7px 16px rgba(12, 12, 12, 0.22);
}
.ct-title1.style3 {
  margin-bottom: 30px;
}
.ct-title1.style3 h3 {
  font-size: 24px;
  padding-right: 54px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.ct-title1.style3 h3 i {
  width: 45px;
  height: 2px;
  background-color: #c1282a;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.ct-title1.style4 h3 a {
  color: inherit;
  display: block;
  padding-right: 18px;
  position: relative;
}
.ct-title1.style4 h3 a:after {
  content: '\f04b';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 12px;
}
.ct-title1.style4 h3 a span {
  position: relative;
}
.ct-title1.style4 h3 a span:before {
  content: '';
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #c1282a;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-title1.style4 h3 a:hover span:before {
  width: 100%;
}


.ct-fancy-box-grid2 .item--icon i {
  font-size: 65px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-fancy-box-grid2 .item--icon svg {
  height: 65px;
  width: 100%;
}
.ct-fancy-box-grid2 .item--icon img {
  max-height: 65px;
}
.ct-fancy-box-grid2 .item--title {
  font-size: 20px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-fancy-box-grid2 .item--desc {
  font-size: 16px;
  line-height: 26px;
  color: #000;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ct-fancy-box-grid2 .item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.ct-fancy-box-grid2 .row {
  margin: 0 14px 0 16px;
}
.ct-fancy-box-grid2 .row .grid-item {
  padding: 0;
}
.ct-fancy-box-grid2 .row .grid-item:hover {
  z-index: 99;
}
.ct-fancy-box-grid2 .item--shadow {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;
  width: 83%;
  z-index: -1;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  -webkit-box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  -khtml-box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  -moz-box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  -ms-box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  -o-box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  box-shadow: 0 10px 40px rgba(5, 12, 103, 0.28);
  opacity: 0;
}
.ct-fancy-box-grid2 .item--inner {
  text-align: center;
  border: 1px solid #ebeffc;
  background-color: #f9fbfd;
  padding: 55px 40px 48px;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .ct-fancy-box-grid2 .item--inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.ct-fancy-box-grid2 .item--inner:hover {
  background-color: #fff;
  z-index: 99;
}
.ct-fancy-box-grid2 .item--inner:hover + .item--shadow {
  opacity: 1;
}



.ct-grid .ct-grid-inner, .ct-grid .grid-item-inner {
  position: relative;
}
@media (min-width: 1200px)
{

.col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.bg-gradient, .ct-slick-carousel .slick-arrow:after, .ct-title1.style2 h3 i, .ct-history1 .ct-history--start, .ct-history1 .ct-history--item:after, .ct-widget-cart-sidebar .ct-close, .woocommerce span.onsale, .woocommerce nav.woocommerce-pagination ul.page-numbers .page-numbers:after, .single-product #primary div.product .woocommerce-tabs ul.wc-tabs li a:after, .ct-tabs--layout1.style1 .ct-tabs-title .ct-tab-title:before {
  background-color: #d1651a;
  background-image: -webkit-gradient(linear, left top, right top, from(#d1651a), to(#c1282a));
  background-image: -webkit-linear-gradient(left, #d1651a, #c1282a);
  background-image: -moz-linear-gradient(left, #d1651a, #c1282a);
  background-image: -ms-linear-gradient(left, #d1651a, #c1282a);
  background-image: -o-linear-gradient(left, #d1651a, #c1282a);
  background-image: linear-gradient(left, #d1651a, #c1282a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d1651a', endColorStr='#c1282a', gradientType='1');
}

@media screen and (min-width: 1200px){
body .container {
    max-width: 1200px;
    width: 100%;
}
}


.ct-grid .ct-grid-inner, .ct-grid .grid-item-inner {
  position: relative;
}
.ct-grid .grid-item.ct-animated .grid-item-inner {
  animation: 0.65s ease 0s normal forwards 1 running moveUp;
  -webkit-animation: 0.65s ease 0s normal forwards 1 running moveUp;
  -webkit-transform: translateY(200px);
  -khtml-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
}


.ct-fancy-box-grid3 .grid-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ct-fancy-box-grid2 .row .grid-item:hover {
  z-index: 99;
}


@media (min-width: 992px){
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}

@media (min-width: 768px)
{
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}

@media (min-width: 576px)
{.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 1200px)
{
.col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
}
@media (min-width: 992px)
{
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
}
@media (min-width: 768px)

{.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

@media (min-width: 576px)
{.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.col-xl-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ct-fancy-box-grid2 .row {
  margin: 0 14px 0 16px;
}
.ct-grid-inner.row {
  margin: 0;
}
.ct-grid .ct-grid-inner, .ct-grid .grid-item-inner {
  position: relative;
}



.ct-breadcrumb li {
  display: inline-block;
  font-size: 16px;
  color: inherit;
}

#pagetitle .page-title {
  font-size: 40px;
  margin-bottom: 0;
  color: #fff;
}
#pagetitle {
  background-color: #333;
  padding-top: 167px;
  padding-bottom: 116px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#pagetitle:before {
  z-index: -1;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ct-breadcrumb {
  margin: 15px 0 0;
  list-style: none;
  color: #fff;
}
ul {
  padding: 0;
  margin: 0 0 15px;
}

.ct-breadcrumb li a {
  color: inherit;
}
body #pagetitle {
  background-image: url(https://www.winhubsolutions.in/wp-content/uploads/2019/12/bg-slider-01.jpg);
}

.heading-default-font h1, .heading-default-font h2, .heading-default-font h3, .heading-default-font h4, .heading-default-font h5, .heading-default-font h6, .heading-default-font .h1, .heading-default-font .h2, .heading-default-font .h3, .heading-default-font .h4, .heading-default-font .h5, .heading-default-font .h6 {
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1200px){
body .container {
    max-width: 1200px;
    width: 100%;
}
}

a, a:hover, a:focus, a:before, a:after {
  outline: none;
  text-decoration: none;
}
ul li {
  list-style-position: inside;
}

.ct-breadcrumb li a:after {
  content: '-';
  margin: 0 6px;
  color: inherit;
}
a, a:hover, a:focus, a:before, a:after {
  outline: none;
  text-decoration: none;
}

.site-content {
  padding: 90px 0;
  position: relative;
}

.ct-fancy-box-grid1 .item--inner {
 
  padding: 32px 20px 23px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  -webkit-transition: all 200ms linear 0ms;
  -khtml-transition: all 200ms linear 0ms;
  -moz-transition: all 200ms linear 0ms;
  -ms-transition: all 200ms linear 0ms;
  -o-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.ct-fancy-box-grid1 .item--inner .item--holder {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ct-fancy-box-grid1 .item--icon {
  line-height: 1;
  margin-bottom: 10px;
}
.ct-fancy-box-grid1 .item--title {
  font-size: 16px;
  line-height: 26px;
  color: #334870;
  margin-bottom: 0;
  font-weight: 600;
  -webkit-transition: all 200ms linear 0ms;
  -khtml-transition: all 200ms linear 0ms;
  -moz-transition: all 200ms linear 0ms;
  -ms-transition: all 200ms linear 0ms;
  -o-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}
.heading-default-font h1, .heading-default-font h2, .heading-default-font h3, .heading-default-font h4, .heading-default-font h5, .heading-default-font h6, .heading-default-font .h1, .heading-default-font .h2, .heading-default-font .h3, .heading-default-font .h4, .heading-default-font .h5, .heading-default-font .h6 {
  font-family: 'Poppins', sans-serif;
}
.ct-fancy-box-grid1 .row .grid-item {
  padding: 0;
}

.ct-fancy-box-grid1 .row {
  margin: 0;
}
.ct-grid-inner.row {
  margin: 0;
}
.ct-grid .ct-grid-inner, .ct-grid .grid-item-inner {
  position: relative;
}
.ct-fancy-box-grid1 {
  text-align: center;
  margin: 0;
}
.ct-grid {
  margin: 0 -15px;
}
